* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("/images/redbull.png"); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center; /* Alineación de texto en el header y footer */
}

#seccion_titulo{
    background-color: #333;
    padding: 30%;
    display: flex;
    justify-content: center;
}

#seccion_menu{
    background-color: black;
    padding: 30%;
    display: flex;
    justify-content: center;
}

#header_titulo{
    background-color: black;
    display: flex;
    justify-content: center;
}

#header_menu{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}


#noticias {
    background-color: #f0f0f0; /* Cambia el color de fondo */
    padding: 2rem;            /* Añade espaciado interno */
    border-radius: 5px;        /* Bordes redondeados */
    margin-bottom: 20px;       /* Espaciado inferior */
    text-align: left;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    padding: 20px;
    justify-content: center; /* Alinea los elementos hijos en el centro */
}

section {
    flex: 3;
    margin-right: 20px;
    text-align: left; /* Alinea el texto a la izquierda */
}

aside {
    flex: 1;
    background: #e4e4e4;
    padding: 20px;
    border-radius: 5px;
    text-align: left; /* Alinea el texto a la izquierda */
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* altura de pie de página */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* altura de pie de página */
    color: aquamarine;
  }
